language: generic
sudo: required
services: 
  - docker

before_install:
  - docker build -t fabioacd/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run fabioacd/react-test npm test -- --coverage

after_success:
  - docker build -t fabioacd/multi-client ./client
  - docker build -t fabioacd/multi-nginx ./nginx
  - docker build -t fabioacd/multi-server ./server
  - docker build -t fabioacd/multi-worker ./worker

  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password--stdin
  # Take those images and push them to docker
  - docker push fabioacd/multi-client
  - docker push fabioacd/multi-nginx
  - docker push fabioacd/multi-server
  - docker push fabioacd/multi-worker